@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
font-family: 'android';
src: url('../fontes/idroid.otf')format('opentype');
font-weight: normal;
}
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #a1c3d865;
    --cor1: #018ce0;
    --cor2: #006bad;
    --cor3: #255775;
    --cor4: #003c61;
   

    --fonte-padrão: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive; 
    --fonte-android: 'android', cursive; 
}

body{
    background-color:var(--cor0);
    font-family: var(--fonte-padrão)
}
.externo::after{
    content: '\00a0\1F517';
}
header{  
    min-height: 150px;
    text-align: center;
    padding-top: 40;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4)); 

}
header > h1{
color: white;
font-family: var(--fonte-destaque);
margin-bottom: 20px;
font-weight: normal;
font-size: 3em;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.356);
}
header > p{
color: white;
font-size: 1.2em;
font-family: var(--fonte-padrão);
max-width: 500px;
padding-right: 10px;
padding-left: 10px;
margin: auto;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.356);
}
nav{
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.411);
}
nav > a{
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-decoration: none;  
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor0);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main img{
    width: 100%;
}
main img.pequena{
  max-width: 350px;
    display: block;
    margin: auto;
}
main h1{
    font-family: var(--fonte-android);
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor0), transparent);
}
main h2{
    font-family: var(--fonte-android); 
    font-weight: normal;
    font-size: 1.1em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color:var(--cor2);
}
main a:hover{
    text-decoration: underline;
    color: var(--cor2);
}
div.video{
    background-color: var(--cor0);
    margin-bottom: 20px; 
    margin: 20px;    
    padding: 10px;
    padding-bottom: 55%;
    position: relative;
    }
    div.video > iframe{
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    }
aside{
    background-color: var(--cor0);
    border-radius: 5px;
    padding: 10px;
}
aside > h3{
    background-color:var(--cor3);
    color: white;
    padding: 20px;
    margin: -10px -10px -0px -10px;
    border-radius: 10px 10px 0px 0px;

}
aside > ul{
    list-style-type: '\2714\00a0';
  list-style-position: inside;
  columns: 2;
}

footer{
    background-color: var(--cor3);
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    padding: 30px;
    color: black;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
    width: bold;    
}
 footer a:hover{
    text-decoration: underline;
    color: white;
 }